---
---
@charset "utf-8";
@import "base";

h3 {
    clear: right;
}

@include breakpoint(tablet) {
    .activity-info, .excursion-info {
        display: flex;
        flex-direction: column;
        > div ul {
            margin-block-end: 1em;
        }
    }
    h4 {
        margin-top: 0;
    }
}

.excursion-hero {
    width: 100%;
    height: max(30rem, 60vh);
    @include breakpoint(tablet) {
        height: max(20rem, 60vh);
    }
    position: relative;
    clear: both;
    margin-top: 3rem;
    margin-bottom: 1rem;
    overflow: clip;

    .title {
        position: absolute;
        bottom: 1em;
        left: 0em;
        width: 100%;
        font-size: 1.5em;

        h3 {
            @include hero-text;
            margin: 0;
        }
    }
}