---
---
@charset "utf-8";
@import "base";

h1 {
    display: flex;
    justify-content: space-between;
}
h1 div {
    font-family: $body-font;
    font-weight: 400;
    line-height: $minimum-line-height;
    > span {
        font-size: .5em;
        > * {
            margin-left: .5em;
        }
    }
    a {
        text-decoration: none;
        color: rgba(34, 26, 16, .4);
        &:hover {
            color: $body-color;
        }
    }
}

.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 1em;

    h3 {
        grid-column: 1 / -1;
        margin-top: 1em;
        &:first-child {
            margin-top: 0;
        }
        margin-bottom: 0;
    }
    a {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: auto auto;
        text-decoration: none;
        border-radius: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: initial;
        padding: 0;
        gap: .2em .75em;

    }
    img {
        width: 3rem;
        height: 3rem;
        border-radius: .5rem;
        display: block;
    }
    .image {
        grid-area: 1 / 1 / span 2 / 2;
    }
    .name {
        font-weight: 500;
        font-size: 1;
        @include breakpoint(mobile) {
            font-size: .9em;
        }
        line-height: $minimum-line-height;
        align-self: end;
    }
    .school {
        display: block;
        line-height: 1.2;
        font-size: .9em;
        @include breakpoint(mobile) {
            font-size: .8em;
        }
    }
}

h2 {
    margin-top: 4rem;
}

table {
    border: 1px solid $brand-blue;
    width: $default-max-copy-width;
    @include breakpoint(mobile) {
        width: 100%;
    }
    border-collapse: collapse;
    line-height: $minimum-line-height;
}
tr.header {
    font-family: $brand-font;
    font-size: 1.1em;
    background-color: $brand-blue;
    color: $background-color;
    p {
        margin-block-start: .5em;
        margin-block-end: .5em;
    }
}
td {
    padding-left: 1em;
    padding-right: 1em;

    p.name {
        font-weight: bold;
    }
    p.description {
        font-size: .9em;
    }
}
td.cost {
    width: 7em;
}
tbody {
    padding-bottom: 1em;
}
.border-bottom {
    border-bottom: 1px solid $brand-blue;
}
.upgrade {
    td:first-child p {
        margin-left: 2em;
    }
    td p {
        margin-block-start: 0;
    }
}
