---
---
@charset "utf-8";
@import "base";

details {
    margin: 1rem 0;
    h3 {
        margin: 0;
        text-transform: initial;
    }

    .details-content {
        padding: 0;
    }
}
.standard-block details {
    table {
        width: 100%;
        margin-left: 0;
        border: 0;
    }
    tr + tr.base {
        border-top: border-style-with-color($brand-blue);
    }

}

