---
---
@charset "utf-8";
@import "base";

body > header {
    background-color: transparent;
}
section {
    &:not(:first-of-type) {
        @include standard-block-behavior;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
section#hero {
    background: linear-gradient(#038C8C, #025E5E);
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;

    display: flex;
    div {
        width: 50%;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 .5em 0 1em;

        --home-logo-dome: #{$brand-light-yellow};
        --home-logo-amalfi: #{$brand-yellow};
        --home-logo-coast: #{$brand-light-yellow};
        --home-logo-festival: #{$brand-yellow};

        svg {
            aspect-ratio: .85;
            max-width: 30em;
            height: 80%;
        }
    }
    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 70%;
    }
}

section#hero + section {
    margin-top: 100vh;
}

section#institute {
    background-image: linear-gradient(#6ED5FB, #05AFF2);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: initial;
    h2 {
        text-transform: uppercase;
        font-size: 2em;
        margin-bottom: 2rem;
    }
    h3 {
        font-size: 1.25em;
    }
    > div {
        @include standard-block-behavior;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
        gap: 2em;

        > a {
            padding: 1rem;
            border-radius: 1rem;
            background-color: white;
            text-decoration: none;
            &:hover {
                background-image: linear-gradient(160deg, #038C8CEE, #025E5EEE);
                color: $brand-yellow;
            }
            ul {
                list-style-type: none;
            }
            img {
                width: 100%;
                max-width: 19em;
                aspect-ratio: 1;
                object-fit: cover;
            }
        }
    }
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}
section#sponsors {
    h3 {
        margin-top: 3rem;
        text-align: center;
    }
    .sponsor-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: .5em;
    }
    img {
        max-height: 4rem;
        justify-self: center;
    }
}