---
---
@charset "utf-8";
@import "base";

@font-face {
    font-family: 'Karla';
    src: url({{ "/assets/site/fonts/Karla-VariableFont_wght.ttf" | relative_url }}) format('truetype');
}
@font-face {
    font-family: 'Karla';
    font-style: italic;
    src: url({{ "/assets/site/fonts/Karla-Italic-VariableFont_wght.ttf" | relative_url }}) format('truetype');
}
@font-face {
    font-family: 'Fahkwang';
    font-weight: 400;
    src: url({{ "/assets/site/fonts/Fahkwang-Regular.ttf" | relative_url }}) format('truetype');
}
@font-face {
    font-family: 'Fahkwang';
    font-weight: 600;
    src: url({{ "/assets/site/fonts/Fahkwang-SemiBold.ttf" | relative_url }}) format('truetype');
}

:root {
    color: $body-color;
    font-size: 18px;
    @include breakpoint(tablet) {
        font-size: 17px;
    }
    @include breakpoint(mobile) {
        font-size: 16px;
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-synthesis: none;
}

body {
    background-color: $background-color;
    font-family: $body-font;
    letter-spacing: -.01em;
    line-height: $standard-line-height;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $brand-font;
    line-height: $minimum-line-height;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
    font-weight: 600;
}
:is(h1,h2,h3,h4,h5,h6) + :is(h1,h2,h3,h4,h5,h6) {
    margin-top: 1rem;
}
// Used for headers of TOC, and highlight boxes
h5 {
    font-size: 1.05em;
    margin: 0;
    font-weight: 400;
}
@include breakpoint(mobile) {
    h1 { font-size: 1.8em; } // 2
    h2 { font-size: 1.4em; } // 1.5
    h3 { font-size: 1.15em; } // 1.17
    // h4 is 1em in user agent stylesheet.
}
strong { font-weight: 600; }

.logo {
    --logo-dome: #{$brand-blue};
    --logo-amalfi: #{$brand-blue};
    --logo-coast: #{$brand-yellow};
    --logo-festival: #{$brand-yellow};

    svg {
        aspect-ratio: 3.29;

        &:hover {
        --logo-dome: #{$link-hover-color};
        --logo-amalfi: #{$link-hover-color};
        --logo-coast: #{$brand-light-yellow};
        --logo-festival: #{$brand-light-yellow};
        }
    }
}

body > :is(header,footer) {
    .section-wrapper {
        @include standard-block-behavior;
    }
    .content-wrapper {
        display: flex;
        @include breakpoint(tablet) {
            flex-direction: column;
        }
    }
    a {
        text-decoration: none;
    }
}
body > header {
    align-items: center;
    .content-wrapper {
        align-items: center;
        gap: 1em;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-bottom: $border-style;
    }
    svg {
        height: 4rem;
        @include breakpoint(tablet) {
            width: 15rem;
            height: auto;
        }
    }
    nav {
        flex-grow: 1;
        display: flex;
        gap: .5em 1.5em;
        justify-content: flex-end;
        padding-bottom: .1rem;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-size: .9em;
        letter-spacing: .1em;
        align-self: flex-end;
        @include breakpoint(tablet) {
            justify-content: center;
            align-self: center;
        }
    }
    a {
        color: $brand-yellow;
        font-weight: 300;
        &:hover {
            color: $brand-light-yellow;
            letter-spacing: .059em;
            font-weight: 600;
        }
    }
}
body:has(#hero) > header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: initial;
    mix-blend-mode: plus-lighter;

    .content-wrapper {
        //border-bottom: 0;
    }
    a {
        &:hover {
            mix-blend-mode: initial;
        }
    }
}
{%- for program-entry in site.data.institute.programs -%}
    {%- assign p = site.programs | where: "slug", program-entry.name | first -%}
    {%- assign rp = p -%}
    {%- if p.reference-program -%}
        {%- assign rp = site.programs | where: "slug", p.reference-program | first -%}
    {%- endif -%}
    {%- if p -%}
body.{{ p.slug }} > header .link-{{ rp.slug }},
    {%- endif -%}
{%- endfor -%}
body.guests > header .link-guests {
    letter-spacing: .07em;
    font-weight: 600;
    color: $brand-blue;
}

body > main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
body > footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: $border-style;
    font-size: .9em;
    #footer-background {
        opacity: .2;
    }
    div.content-wrapper {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        > div:nth-of-type(1) {
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: space-evenly;
            @include breakpoint(mobile) {
                > * {
                    align-items: center;
                    text-align: center;
                }
            }
        }
        > div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            align-self: center;
        }
    }
    svg {
        height: 4.5rem;
        @include breakpoint(tablet) {
            height: 4rem;
        }
        @include breakpoint(tablet) {
            width: min(70vw, 20em);
            height: initial;
        }
    }
    #social {
        display: flex;
        gap: 1.5rem;
        margin-top: 1em;
        a {
            display: block;
            --social-instagram: #{$footer-link-color};
            --social-youtube: #{$footer-link-color};
            --social-facebook: #{$footer-link-color};
            --social-twitter: #{$footer-link-color};

            &:hover {
                --social-instagram: #{$footer-link-hover-color};
                --social-youtube: #{$footer-link-hover-color};
                --social-facebook: #{$footer-link-hover-color};
                --social-twitter: #{$footer-link-hover-color};
            }
        }
        svg {
            width: 1.5em;
            height: 1.5em;
        }
    }
    #copyright {
        font-size: .8em;
    }
    #contact {
        .contact {
            padding-top: .35em;
            @include breakpoint(mobile) {
                padding-top: 0;
            }
            font-size: .9em;
            line-height: $minimum-line-height;
        }
    }

    h1 {
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 400;
        margin-top: 0;
        @include breakpoint(mobile) {
            margin-bottom: .5em;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        @include breakpoint(tablet) {
            gap: .5rem;
        }
    }
}

main:not(.standard-block) {
    :is(ul, ol) {
        padding-left: 1.5em;
    }
    > :is(ul, ol) {
        @include standard-block-behavior($additional-left-padding: 1.5em);
    }
    > :is(p, h1, h2, h3, h4, h5, h6) {
        @include standard-block-behavior;
    }
    p, > :is(ul, ol) {
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
}

.standard-block {
    @include standard-block-behavior;

    > :is(ul, ol, p), > div > :is(ul, ol, p), > div > div > :is(ul, ol, p), dd, table, details {
        max-width: $default-max-copy-width;
        margin-left: $standard-block-margin-left;
        @include breakpoint(mobile) {
            max-width: initial;
            margin-left: 0;
        }
    }

    .highlight-box {
        :is(ul, ol) {
            margin-left: 0;
        }
        @include breakpoint(tablet) {
            max-width: $default-max-copy-width;
            margin-left: $standard-block-margin-left;
        }
        @include breakpoint(mobile) {
            max-width: initial;
            margin-left: 0;
        }
    }
}

a {
    color: $link-color; //$body-color;
    text-underline-offset: .35em;
    transition: $animation-length color, $animation-length background-color, $animation-length border;
    &:link, &:active, &:visited {
        text-decoration-thickness: .5px;
    }
    &:hover {
        color: $link-hover-color;
        transition: $animation-length color, $animation-length background-color, $animation-length border;
    }
}

.image-container, .background-image-container {
    overflow: clip;
    position: relative;
}
.background-image-container > img:first-child {
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    object-fit: cover;
    z-index: -1;
    filter: contrast(.55) brightness(1.4) blur(.8px);
}

.highlight-box {
    width: $sidebar-width;
    margin-left: 2rem;
    margin-bottom: 1em;
    float: right;
    @include breakpoint(mobile) {
        float: initial;
    }

    h5 {
        display: inline-block;
    }
    p:first-child {
        margin-block-start: 0;
    }
    p:last-child {
        margin-block-end: 0;
    }

    &:not(.image) {
        border-left: 1px solid $brand-blue;
        margin-left: 1rem;
        padding-left: 1em;
        padding-bottom: 2em;
        @include breakpoint(mobile) {
            margin-left: 0;
            padding-bottom: 0;
        }
    }

    &.colored {
        background-color: $brand-light-yellow;
        padding: 1em;
        border-radius: $border-radius-large;
        border-left: 0;
        @include breakpoint(tablet) {
            display: block;
            width: auto;
            float: initial;
        }
    }

    ul#markdown-toc ul {
        display: none;
    }

    &.show-second-level ul#markdown-toc > li > ul {
        display: block;
    }

    &:is(ul) {
        line-height: $minimum-line-height;
        list-style-type: none;
        > li:not(:first-child) {
            margin-top: 1.2em;
        }
        div:has(+ div) {
            font-size: .9em;
        }
        :not(.description) div:last-child {
            margin-top: .2em;
            margin-left: 0;
            font-weight: 600;
        }

        ul {
            list-style-type: disc;
        }
        @include breakpoint(tablet) {
            h5, div {
                display: inline;
            }
            li > *:nth-last-child(2):after {
                content: ":";
                font-size: 1.05rem;
            }
            ul {
                list-style-type: none;
                display: inline;
                margin: 0;
                padding: 0;
                li {
                    display: inline;
                    &:not(:first-child)::before {
                        content: ", "
                    }
                }
            }
        }
    }

    &.image {
        clear: right;
        img {
            width: 100%;
            border-radius: $border-radius-large;
        }
        @include breakpoint(tablet) {
            display: block;
            width: auto;
            float: initial;
            margin-top: 1em;
            img {
                width: auto;
                max-width: 90%;
                max-height: 80vh;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.address {
    line-height: $minimum-line-height;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: .2em 1.5em;
    background-color: #BEDDE8;
    color: $brand-blue;
    border: 1px solid $brand-blue;
    border-radius: $border-radius-small;
    text-transform: uppercase;
    line-height: $standard-line-height;

    &:hover {
        background-color: $brand-blue;
        color: $brand-light-yellow;
    }
}

details {
    $details-padding: 1rem;

    position: relative;
    border: $border-style;
    border-radius: $border-radius-small;

    .summary-title {
        user-select: none;
        width: 100%;
    }

    &:hover {
        cursor: pointer;
    }

    .details-content {
        cursor: default;
        padding-left: $details-padding;
        padding-right: $details-padding;
        border-top: $border-style;
     }

    summary {
        list-style: none;
        font-size: .9em;
        text-transform: uppercase;
        letter-spacing: .1em;
        padding: $details-padding/2 $details-padding;

        .summary-title {
            display: inline-block;
        }

        &:focus {
            outline: none;
        }

        &:hover .summary-chevron-up svg {
            opacity: 1;
        }
    }
    &[open] .details-content {
    }

    .summary-chevron-up svg {
        opacity: 0.6;
    }

    .summary-chevron-up,
    .summary-chevron-down {
        pointer-events: none;
        position: absolute;
        background: $background-color;
        top: $details-padding/2;
        right: $details-padding;

        svg {
            display: block;
        }
    }

    summary::-webkit-details-marker {
        display: none;
    }

}

#cancellation-schedule {
    display: grid;
    border-top: $border-style;
    border-left: $border-style;
    border-right: $border-style;
    max-width: 50em;
    grid-template-columns: auto auto;
    margin-left: $standard-block-margin-left;
    @include breakpoint(mobile) {
        grid-template-columns: 1fr;
        margin-left: 0;
    }
    > * {
        padding: .5rem 1rem;
        border-bottom: $border-style;
    }
    .dateline {
        font-family: $brand-font;
        background-color: $brand-blue;
        color: $background-color;
        border-bottom: border-style-with-color($background-color);
        &:nth-last-child(2) {
            border-bottom-color: $brand-blue;
        }
    }
    p {
        margin: 0;
        max-width: initial;
    }
}
