---
---
@charset "utf-8";
@import "base", "festival";

$form-text-size: 1.2rem;

main {
    min-height: 50vh;
}
form > ol {
    font-size: $form-text-size;
    list-style-type: none;
    padding-left: 0 !important;
}
#formRegistration, #formBalance {
    display: none;
}
.registration #formRegistration,
.balance #formBalance {
    display: block;
}

input[type="text"] {
    font-size: $form-text-size;
    font-family: $body-font;
    padding: .5em;
    margin-left: $standard-block-margin-left;
}

.cost {
    padding-right: 2em;
}

.invoice {
    display: none;
}
{% for program-slug in site.data.festival.programs -%}
    {%- if program-slug.translation -%}
        {%- continue -%}
    {%- endif -%}
{% if forloop.index0 > 0 %},{% endif %}.{{ program-slug.name }} #invoice-{{ program-slug.name }}
{% endfor %}
{
    display: block;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: $background-color;
    margin: 0 .1em 0 0;
    font: inherit;
    color: currentColor;
    width: 1.1em;
    height: 1.1em;
    border: 1px solid $brand-blue;
    border-radius: 50%;
    display: inline-grid;
    place-content: center;

    &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em $brand-light-blue;
    }
    &:checked::before {
        transform: scale(1);
    }
}

input[type="text"] {
    border: 1px solid $brand-blue;
    border-radius: $border-radius-small;
    width: $default-max-copy-width;
}

input[type="submit"] {
    display: block;
    margin-top: 2rem;
    font-size: 1em;
    font-family: $body-font;
}

details img {
    width: 100%;
}