---
---
@charset "utf-8";
@import "base";

body > main {
    @include breakpoint(mobile) {
        margin-top: 0;
    }
    h1 {
        margin-bottom: 0;
        .zh-name {
            display: inline-block;
        }
    }
    :is(h1,h2) + :is(h2,h3) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#headshot {
    @include standard-block-behavior;
    img {
        float: right;
        margin-left: 2rem;
        @include breakpoint(mobile) {
            margin-top: 2rem;
            margin-left: 0;
        }

        width: 20em;
        @include breakpoint(tablet) {
            width: 16em;
        }
        border-radius: $border-radius-large;

        @include breakpoint(mobile) {
            max-width: 100%;
            width: auto;
            max-height: min(60vh, 90vw);
            margin-left: auto;
            margin-right: auto;
            display: block;
            float: initial;
        }
    }
}

.availability {
    font-weight: 600;
    margin-top: 1em;
    margin-left: 0 !important;
    max-width: initial !important;

    &.single {
        list-style-type: none;
        padding-left: 0;
    }
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: 1rem;
    @include breakpoint(mobile) {
        grid-template-columns: repeat(3, 1fr);
        gap: .75rem;
    }
    @include breakpoint(tiny) {
        grid-template-columns: repeat(2, 1fr);
    }
    align-items: center;
    justify-items: center;

    img {
        border-radius: $border-radius-large;
        display: block;
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}