---
---
@charset "utf-8";
@import "base", "institute";

body:has(#hero) {
    > main {
        margin-top: 0;
        h1 {
            position: relative;
            color: $background-color;
            z-index: 1;

            a {
                color: rgba(254, 252, 250, .6);
                &:hover {
                    color: $background-color;
                }
            }
        }
    }
}
#hero {
    height: min(80vh, 80vw);
    @include breakpoint(tablet) {
        height: 70vh;
    }
    @include breakpoint(mobile) {
        height: 50vh;
    }
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        min-height: 100%;
        translate: -50% -50%;
        z-index: -1;
    }
    .gradient-bottom {
        position: absolute;
        width: 100%;
        height: 2rem;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba(26,26,26,0), rgba(26,26,26,1));
        z-index: 1;
    }
    > div {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
    }
}


section#splash {
    h2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    padding-bottom: 3rem;

    &:not(.proto-2,.proto-3) {
        .image-copy {
            position: relative;
            img {
                max-width: min(60vw, 40em);
                max-height: 100vh;
                border-radius: $border-radius-large;
            }

            .copy {
                width: 40%;
                max-width: $default-max-copy-width;
                padding: 2rem;
                border-radius: $border-radius-large;
                background-image: linear-gradient(#08698D88, #08698DFF);
                color: $background-color;
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);
                font-size: 1.3em;
                line-height: $minimum-line-height;
                border: 10px solid $background-color;
                position: absolute;
                right: 4rem;
                bottom: -1rem;
                z-index: 1;
            }

        }
        .image-copy.right {
            text-align: right;
            img {
                max-width: min(50vw, 30em);
            }
            .copy {
                text-align: left;
                bottom: 5rem;
                left: 2rem;
                right: initial;
            }
        }
    }

    &.proto-2 {
        background: linear-gradient(#{$background-color}, #03a597 18rem, #025951);
        color: $brand-light-yellow;
        padding-top: 2rem;
        h2 {
            color: $body-color;
            text-align: center;
            padding: 0 2rem;
            font-size: 2em;
            @include breakpoint(mobile) {
                padding: 0;
                font-size: 1.8em;
            }
        }
        .image-copy {
            display: flex;
            gap: 2rem;
            padding-top: 2rem;
            @include breakpoint(mobile) {
                flex-direction: column;
            }

            &.image-copy:nth-child(even):not(.row) {
                flex-direction: row-reverse;
                @include breakpoint(mobile) {
                    flex-direction: column;
                }
            }
        }
        .image {
            width: 60%;
            @include breakpoint(mobile) {
                width: min(100%, 450px);
                margin-left: auto;
                margin-right: auto;
            }
            aspect-ratio: 1.4;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $border-radius-large;
            }
        }
        .copy {
            width: 40%;
            padding: 2rem;
            font-size: 1.5em;
            @include breakpoint(tablet) {
                font-size: 1.4em;
            }
            @include breakpoint(mobile) {
                width: 100%;
                padding: 1rem 0;
            }
            font-family: $brand-font;
            display: flex;
            align-items: center;
            line-height: $minimum-line-height;
            //background-color: $brand-blue;
            //color: $background-color;
        }
    }
}
section.proto-3 {
    margin-top: 10rem;
    @include standard-block-behavior;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;

    .image {
        grid-column-end: span 3;
        aspect-ratio: 1.4;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $border-radius-large;
        }
    }
    .copy {
        grid-column-end: span 3;
        div {
            padding: 2rem;
            font-size: 1.25em;
            @include breakpoint(mobile) {
                padding: 1rem;
                font-size: 1.1em;
            }
            line-height: $minimum-line-height;
            background-color: $brand-blue;
            color: $background-color;
        }
        align-self: center;
    }
}

#header {
    h2, h3 {
        margin-top: 1rem;
    }
    @include breakpoint(tiny) {
        span {
            display: inline-block;
        }
    }
}
h3 .label {
    font-weight: 400;
}

#faculty {
    background-color: white;
    padding: 3rem 0;
    h2 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 2rem;
    }
}

main:has(#learn) {
    margin-bottom: 0;
}
section#learn {
    text-align: center;
    font-size: 1.5em;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    h3 {
        margin: 0;
        padding: 2rem;
        background-color: #F9C56BDD;
        border-radius: $border-radius-large;
    }
}

.apply {
    text-decoration: none;
    display: inline-block;
    padding: .2em 1.5em;
    background-color: #BEDDE8;
    color: $brand-blue;
    border: 1px solid $brand-blue;
    border-radius: $border-radius-small;
    text-transform: uppercase;

    &:hover {
        background-color: $brand-blue;
        color: $brand-light-yellow;
    }
}
