<tbody>
<tr class="header"><td colspan="2"><p>{% include utilities/localize.html string=include.header %}</p></td></tr>
{%- for _outing in reference-program.outings[include.outing-type] -%}

{%- assign _festival-outing = site.data.outings[include.outing-type][_outing.outing-slug] -%}
{%- capture _name -%}
{%- include utilities/localize.html source=_festival-outing key="name" -%}
{%- endcapture -%}
{%- capture _length -%}
{%- include utilities/localize.html source=_festival-outing key="length" -%}
{%- endcapture -%}
{%- capture _description -%}
{%- include utilities/localize.html source=_festival-outing key="description" is-markdown=true -%}
{%- endcapture -%}
{%- assign _cost = _outing.cost | default: _festival-outing.cost -%}

{%- capture _additional-description -%}
{%- include utilities/localize.html source=_outing key="additional-description" is-markdown=true -%}
{%- endcapture -%}
<tr>
<td>
    <p class="name">{{ _name }}{% if _length %} {{ _length }}{% endif %}</p>
    {%- if _description -%}
    <p class="description">{{ _description }} {{ _additional-description }} <a href="{{ site.baseurl }}{% link excursions-and-activities.md %}#{{ _outing.outing-slug | downcase }}">{% include utilities/localize.html string="Learn more" %}</a></p>
    {%- endif -%}
</td><td class="cost" align="center" valign="top"><p>
    {%- if _cost == 0 -%}
        {%- include utilities/localize.html string="Included" -%}
    {%- else -%}
        {%- include utilities/format-cost.html cost=_cost -%}
    {%- endif -%}
</p></td>
</tr>
{%- endfor -%}
</tbody>
