<tbody>
<tr class="header"><td colspan="2"><p>{% include utilities/localize.html string=include.header %}</p></td></tr>
{%- for _outing in reference-program.outings[include.outing-type] -%}
{%- assign _festival-outing = site.data.outings[include.outing-type][_outing.outing-slug] -%}
{%- assign _cost = _outing.cost | default: _festival-outing.cost -%}
{%- assign _additional-description = _outing.additional-description -%}
{%- if page.lang == "zh" -%}
    {%- assign _festival-outing = _festival-outing.localizations.zh -%}
    {%- assign _additional-description = _outing.localizations.zh.additional-description -%}
{%- endif -%}
<tr>
<td>
    <p class="name">{{ _festival-outing.name }}{% if _festival-outing.length %} ({{ _festival-outing.length }}){% endif %}</p>
    {%- if _festival-outing.description -%}
    <p class="description">{% include utilities/markdownify-without-p.html text=_festival-outing.description %} {% include utilities/markdownify-without-p.html text=_additional-description %} <a href="{{ site.baseurl }}{% link excursions-and-activities.md  %}#{{ _outing.outing-slug | downcase }}">{% include utilities/localize.html string="Learn more" %}</a></p>
    {%- endif -%}
</td><td class="cost" align="center" valign="top"><p>
    {%- if _cost == 0 -%}
        {%- include utilities/localize.html string="Included" -%}
    {%- else -%}
        {%- include utilities/format-cost.html cost=_cost -%}
    {%- endif -%}
</p></td>
</tr>
{%- endfor -%}
</tbody>
