{%- comment -%}
Input variables:
    program: program object (optional)
        uses |reference-program| as default
    item-td: name/description of item to include table row
    item-name: name of tuition item
    has-tuition-item: result of has-tuition-item.fx for |item-name|
    use-guest-tuition: whether to try to use the guest values for tuition costs. Falls back to normal tuition if not available.

Fills in cost table with either the base tuition price, or with separate rows for individual session items.

If there is no base tuition price for the program, and we are listing the prices for each session, then no item is listed for sessions that don't specifically add that fee. cf. lab fee.
{%- endcomment -%}

{%- assign __p = reference-program | default: include.program -%}
{%- if include.use-guest-tuition -%}
    {%- assign __t = __p.tuition-guests -%}
{%- else -%}
    {%- assign __t = __p.tuition -%}
{%- endif -%}
{%- assign __name-key = include.name-key | default: "name" -%}
{%- assign __desc-key = include.description-key | default: "description" -%}

{%- assign base-price = __t[include.item-name] -%}
{%- if base-price == true -%}
    {%- assign base-price = __p.tuition[include.item-name] -%}
{%- endif -%}
{%- assign _item-name = __t[__name-key] -%}
{%- if _item-name == true -%}
    {%- assign _item-name = __p.tuition[__name-key] -%}
{%- endif -%}
{%- assign _item-desc = __t[__desc-key] -%}
{%- if _item-desc == true -%}
    {%- assign _item-desc = __p.tuition[__desc-key] -%}
{%- endif -%}
<tr class="base">
    <td>
        <p class="name">{{ site.data.accommodations[include.item-name][__name-key] | default: _item-name | smartify }}</p>
        {%- capture _d -%}
        {{- site.data.accommodations[include.item-name][__desc-key] | default: _item-desc -}}
        {%- endcapture -%}
        <p class="description">{% include utilities/markdownify-without-p.html text=_d %}</p>
    </td>
{%- unless include.has-tuition-item == 2 -%}
    <td class="cost" align="center" valign="top"><p><strong>{% include utilities/format-cost.html cost=base-price %}</strong></p></td>
</tr>
{%- else -%}
    <td></td>
</tr>
    {%- for session in __p.sessions -%}
        {%- if session.tuition[include.item-name] or base-price -%}
<tr>
    <td>
        <p class="session">{%- include site/session/get-session-name-with-dates.html session=session -%}</p>
    </td>
        {%- assign price = base-price -%}
        {%- if session.tuition[include.item-name] -%}
            {%- assign price = session.tuition[include.item-name] -%}
        {%- endif -%}
    <td class="cost" align="center" valign="top"><p><strong>{% include utilities/format-cost.html cost=price %}</strong></p></td>
</tr>
        {%- endif -%}
    {%- endfor -%}
{%- endunless -%}