$body-font: "Karla", Helvetica, sans-serif;
$header-footer-font: "Fahkwang", Georgia, serif;
$brand-font: "Fahkwang", Georgia, serif;

$dark-color: #17212F;
$brand-yellow: #BFA380;//#F2B705; //#BFA380; //#B09676; //#FFB800;
$brand-light-yellow: #F9C56B; //#FAD66A; //#D9B589; //#FDE8C3;
$brand-lighter-yellow: #FFF691;
$brand-blue: #025E73; //#08698D;
$brand-light-blue: #0A85B2;
$brand-hover-blue: #0A85B222;

$background-color: #FDFAF6; //#FEFCFA; //#F4FDFE;
$body-color: $dark-color;
$link-color: $brand-blue;
$link-hover-color: $brand-light-blue;

$footer-body-color: $dark-color;
$footer-link-color: $brand-blue;
$footer-link-hover-color: $brand-light-blue;

$standard-line-height: 1.7;
$minimum-line-height: 1.3;

$animation-length: 100ms;
$border-style: .5px solid $brand-blue;
@function border-style-with-color($color) {
    @return .5px solid $color;
}
$border-radius-large: 1rem;
$border-radius-small: .5rem;
$sidebar-width: 19rem;

$minimum-side-padding: calc(1.5rem + env(safe-area-inset-left));
$minimum-mobile-side-padding: calc(.75rem + env(safe-area-inset-left));
@function minimum-side-padding-with-addition($padding: null) {
    @if ($padding) {
        @return calc(1.5rem + #{$padding} + env(safe-area-inset-left));
    } @else {
        @return $minimum-side-padding;
    }
}
@function minimum-mobile-side-padding-with-addition($padding: null) {
    @if ($padding) {
        @return calc(.75rem + #{$padding} + env(safe-area-inset-left));
    } @else {
        @return $minimum-mobile-side-padding;
    }
}
@function max-minimum-side-padding($padding) {
    @return max(#{$padding}, 1.5rem + env(safe-area-inset-left));
}
@function max-minimum-mobile-side-padding($padding) {
    @return max(#{$padding}, .75rem + env(safe-area-inset-left));
}
$list-padding-left: 2em;

$default-max-content-width: 60rem;
$default-max-copy-width: 30rem;
$standard-block-margin-left: 3rem;
@mixin standard-block-behavior($additional-left-padding: null, $max-width: $default-max-content-width) {
    @if $max-width != nil {
        max-width: $max-width;
    }
    margin-left: auto;
    margin-right: auto;
    padding-left: minimum-side-padding-with-addition($additional-left-padding);
    padding-right: $minimum-side-padding;
    @include breakpoint(mobile) {
        padding-left: minimum-mobile-side-padding-with-addition($additional-left-padding);
        padding-right: $minimum-mobile-side-padding;
    }
}

@mixin breakpoint($form_factor) {
    @if $form_factor == wide-desktop {
        @media only screen and (min-width: 1440px) { @content; }
    }
    @if $form_factor == mid-desktop {
        @media only screen and (min-width: 1080px) { @content; }
    }
    @if $form_factor == tablet {
        @media only screen and (max-width: 768px) { @content; }
    }
    @if $form_factor == mobile {
        @media only screen and (max-width: 670px) { @content; }
    }
    @if $form_factor == tiny {
        @media only screen and (max-width: 350px) { @content; }
    }
}

// It appears that Safari on Ventura does not support font-variation-settings
// in font-face rules https://bugs.webkit.org/show_bug.cgi?id=215605
@mixin font-style-italic {
    font-variation-settings: "slnt" -10;
}
@mixin font-weight($weight) {
    font-variation-settings: "wght" $weight;
}

@mixin backdrop-filter {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
