$body-font: "Karla", Helvetica, sans-serif;
$header-footer-font: "Fahkwang", Georgia, serif;
$brand-font: "Fahkwang", Georgia, serif;

$darkest-color: #221a10; // 34, 26, 16
$dark-color: #6b6460;
$light-color: #b0a589;
$lighter-color: #ececd9;
$lightest-color: #fafaf7;
$accent-color: #7f0e1d;

$brand-yellow: #BFA380; //#B09676; //#FFB800;
$brand-light-yellow: #D9B589; //#FDE8C3;
$brand-blue: #08698D;

$background-color: #FEFCFA; //#F4FDFE;
$body-color: $darkest-color;
$link-color: $dark-color;
$link-hover-color: $light-color;

$footer-background-color: $accent-color;
$footer-body-color: $dark-color;
$footer-link-color: #8C865E;

$standard-line-height: 1.7;
$minimum-line-height: 1.2;

$animation-length: 100ms;

$minimum-side-padding: calc(1.5rem + env(safe-area-inset-left));
$minimum-mobile-side-padding: calc(.75rem + env(safe-area-inset-left));
@function minimum-side-padding-with-addition($padding: null) {
    @if ($padding) {
        @return calc(1.5rem + #{$padding} + env(safe-area-inset-left));
    } @else {
        @return $minimum-side-padding;
    }
}
@function minimum-mobile-side-padding-with-addition($padding: null) {
    @if ($padding) {
        @return calc(.75rem + #{$padding} + env(safe-area-inset-left));
    } @else {
        @return $minimum-mobile-side-padding;
    }
}
$list-padding-left: 2em;

$default-max-content-width: 60rem;
$default-max-copy-width: 30rem;
@mixin standard-block-behavior($additional-left-padding: null, $max-width: $default-max-content-width) {
    @if $max-width != nil {
        max-width: $max-width;
    }
    margin-left: auto;
    margin-right: auto;
    padding-left: minimum-side-padding-with-addition($additional-left-padding);
    padding-right: $minimum-side-padding;
    @include breakpoint(mobile) {
        padding-left: minimum-mobile-side-padding-with-addition($additional-left-padding);
        padding-right: $minimum-mobile-side-padding;
    }
}

@mixin breakpoint($form_factor) {
    @if $form_factor == wide-desktop {
        @media only screen and (min-width: 1440px) { @content; }
    }
    @if $form_factor == mid-desktop {
        @media only screen and (min-width: 1080px) { @content; }
    }
    @if $form_factor == tablet {
        @media only screen and (max-width: 768px) { @content; }
    }
    @if $form_factor == mobile {
        @media only screen and (max-width: 670px) { @content; }
    }
    @if $form_factor == tiny {
        @media only screen and (max-width: 350px) { @content; }
    }
}

// It appears that Safari on Ventura does not support font-variation-settings
// in font-face rules https://bugs.webkit.org/show_bug.cgi?id=215605
@mixin font-style-italic {
    font-variation-settings: "slnt" -10;
}
@mixin font-weight($weight) {
    font-variation-settings: "wght" $weight;
}
