{%- if include.dates.end -%}
    {%- assign start-year = include.dates.start | date: "%Y" -%}
    {%- assign end-year = include.dates.end | date: "%Y" -%}
    {%- if start-year != end-year -%}
        {{- include.dates.start | date: "%B %e, %Y" }}–{{ include.dates.end | date: "%B %e, %Y" -}}
    {%- else -%}
        {%- assign start-month = include.dates.start | date: "%m" -%}
        {%- assign end-month = include.dates.end | date: "%m" -%}
        {%- if start-month != end-month -%}
            {{- include.dates.start | date: "%B %e" }}–{{ include.dates.end | date: "%B %e, %Y" -}}
        {%- else -%}
            {{- include.dates.start | date: "%Y年%-m月%e日" }}{{ include.dates.end | date: "至%e日" -}}
        {%- endif -%}
    {%- endif -%}
{%- elsif include.dates.start or include.date -%}
    {%- assign date = include.dates.start -%}
    {%- unless date -%}
        {%- assign date = include.date -%}
    {%- endunless -%}
    {{- date | date: "%Y年%-m月%e日" -}}
{%- elsif include.dates.note -%}
    {{- include.dates.note -}}
{%- endif -%}
