{%- comment -%}
key: string reference to either |key| or |string| in site.data.localizations
show-localization: Optional. Will take from page.show-localization if not specified.

Looks up by |key| first before trying |string|
{%- endcomment -%}

{%- if include.source -%}
    {%- assign _k = page.lang | default: include.lang -%}
    {%- if _k -%}
        {%- assign _k = _k | prepend: "-" | prepend: include.key -%}
    {%- else -%}
        {%- assign _k = include.key -%}
    {%- endif -%}
{{ include.source[_k] }}
{%- else -%}
    {%- assign entry = site.data.localizations | where: "key", include.string | first -%}
    {%- unless entry -%}
        {%- assign entry = site.data.localizations | where: "en", include.string | first -%}
    {%- endunless -%}
    {%- assign _l = page.lang | default: include.lang | default: "en" -%}
    {%- capture _t %}{{ entry[_l] | default: include.string }}{% endcapture -%}
    {%- if entry.is-markdown -%}
        {%- capture _t2 -%}{{ _t | replace: include.replace-key, include.replace-value }}{%- endcapture -%}
        {%- include utilities/markdownify-without-p.html text=_t2 -%}
    {%- else -%}
        {{- _t | replace: include.replace-key, include.replace-value | smartify -}}
    {%- endif -%}
{%- endif -%}