{%- comment -%}
key: string reference to either |key| or |string| in site.data.localizations
show-localization: Optional. Will take from page.show-localization if not specified.

Looks up by |key| first before trying |string|
{%- endcomment -%}

{%- assign entry = site.data.localizations | where: "key", include.string | first -%}
{%- unless entry -%}
    {%- assign entry = site.data.localizations | where: "en", include.string | first -%}
{%- endunless -%}
{%- assign _l = page.lang | default: include.lang | default: "en" -%}
{{ entry[_l] | default: include.string }}
