{%- comment -%}
Localize using a source object referenced by a provided key.
source: Source object (from front-matter or site.data)
key: Key string
is-markdown: Determines whether the value is in markdown. Smartify is applied first.

Return localized string from localizations.yaml.
string: Lookup string. Will look for |key| first before trying |string|.
replace-key: Token to look up and replace with |replace-value|.
replace-value: String to replace |replace-key| in the string.

Localize strings. Looks inside localizations.yaml, but can also retrieve strings with a provided source object. Can be told to markdownify. Looks up by |key| first before trying |string|. Can replace a token in the string, useful for markdown links.
{%- endcomment -%}

{%- if include.source -%}
    {%- assign _k = page.lang | default: include.lang -%}
    {%- if _k -%}
        {%- assign _k = _k | prepend: "-" | prepend: include.key -%}
    {%- else -%}
        {%- assign _k = include.key -%}
    {%- endif -%}
    {%- if include.is-markdown -%}
    {%- capture _t %}{{ include.source[_k] | smartify }}{%- endcapture -%}
{%- include utilities/markdownify-without-p.html text=_t -%}
    {%- else -%}
{{ include.source[_k] }}
    {%- endif -%}
{%- else -%}
    {%- assign entry = site.data.localizations | where: "key", include.string | first -%}
    {%- unless entry -%}
        {%- assign entry = site.data.localizations | where: "en", include.string | first -%}
    {%- endunless -%}
    {%- assign _l = page.lang | default: include.lang | default: "en" -%}
    {%- capture _t %}{{ entry[_l] | default: include.string }}{% endcapture -%}
    {%- if entry.is-markdown -%}
        {%- capture _t2 -%}{{ _t | replace: include.replace-key, include.replace-value }}{%- endcapture -%}
        {%- include utilities/markdownify-without-p.html text=_t2 -%}
    {%- else -%}
        {{- _t | replace: include.replace-key, include.replace-value | smartify -}}
    {%- endif -%}
{%- endif -%}