<details>
    <summary>
        <div class="summary-chevron-up"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#025E73" stroke-width="2" stroke-linecap="cap" stroke-linejoin="cap" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
        <span class="summary-title">{{ include.summary }}</span>
    </summary>
    <div class="summary-chevron-down"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FDFAF6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg></div>
    <section class="details-content" markdown="1">{{ include.details }}</section>
</details>