{%- assign _l = page.lang | default: include.lang | default: "en" -%}
{%- assign _f = site.empty-array -%}
{%- for faculty-member-name in include.faculty -%}
    {%- assign _faculty-member = site.people | where: "slug", faculty-member-name | first -%}
    {%- unless _faculty-member -%}
        {%- assign _faculty-member = site.staff | where: "slug", faculty-member-name | first -%}
    {%- endunless -%}
    {%- assign _f = _f | push: _faculty-member -%}
{%- endfor -%}
{%- comment -%}This sort does not work if there are any staff included. Would need to refactor staff.yaml to list names similarly to faculty.{%- endcomment -%}
{%- assign _f = _f | sort: "last-name" -%}
{%- for faculty-member in _f -%}
    {%- include site/person/person-localized-name.fx lang=_l person=faculty-member -%}
    {%- assign faculty-name = __result -%}
<div><a href="{{ faculty-member.url | relative_url }}"><div class="image"><img src="{% include site/person/person-thumbnail-filepath.html person=faculty-member %}" /></div><div class="name">{{ faculty-name }}</div><div class="school">{% if faculty-member.school-zh and _l == "zh" %}{{ faculty-member.school-zh }}{% else %}{{ faculty-member.role | default: faculty-member.school }}{% endif %}</div>
</a></div>
{%- endfor -%}
