{%- assign _l = page.lang | default: include.lang | default: "en" -%}
{%- for faculty-member-name in include.faculty -%}
    {%- assign faculty-member = nil -%}
    {%- for faculty-candidate in site.people -%}
        {%- if faculty-candidate.slug == faculty-member-name -%}
            {%- assign faculty-member = faculty-candidate -%}
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
    {%- unless faculty-member -%}
        {%- for staff-candidate in site.staff -%}
            {%- if staff-candidate.slug == faculty-member-name -%}
                {%- assign faculty-member = staff-candidate -%}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endunless -%}

    {%- capture faculty-name -%}{{ faculty-member.first-name }} {{ faculty-member.last-name }}{%- if faculty-member.zh-name and _l == "zh" -%}<br/>({{ faculty-member.zh-name }}){%- endif -%}{%- endcapture -%}
    {%- unless faculty-member.prefers-en-name -%}
        {%- if faculty-member.zh-name and _l == "zh" -%}
            {%- capture faculty-name -%}{{ faculty-member.zh-name }}{%- endcapture -%}
        {%- endif -%}
    {%- endunless -%}
<div><a href="{{ faculty-member.url | relative_url }}"><div class="image"><img src="{% include site/person/person-thumbnail-filepath.html person=faculty-member %}" /></div><div class="name">{{ faculty-name }}</div><div class="school">{% if faculty-member.school-zh and _l == "zh" %}{{ faculty-member.school-zh }}{% else %}{{ faculty-member.role | default: faculty-member.school }}{% endif %}</div>
</a></div>
{%- endfor -%}
