{%- for _p in site.data.festival.programs -%}
    {%- assign _program = site.programs | where: "slug", _p.program-slug | first -%}
    {%- assign _url = _program.url | relative_url -%}
    {%- if page.lang == "zh" and _p.zh -%}
        {%- assign _pzh = site.programs | where: "slug", _p.zh | first %}
        {%- assign _url = _pzh.url | relative_url -%}
    {%- endif -%}
    {%- if _program.to-be-announced -%}
        {%- capture _url %}{% unless page.url == "/" %}{{ site.baseurl }}{% if page.lang == "zh" %}{% link index-zh.md %}{% else %}{% link index.md %}{% endif %}{% endunless %}#{{ _program.slug }}{% endcapture -%}
    {%- endif -%}
<div style="--counter: {{ counter }}"><a class="link-{{ _program.slug }}" href="{{ _url }}">{% include utilities/localize.html source=_program.webpage-data key="menu-title" %}</a>
</div>
    {%- assign counter = counter | plus: 1 -%}
{%- endfor -%}
{%- unless include.omit-guests -%}
    {%- assign _program = site.programs | where: "slug", "guests" | first -%}
<div style="--counter: {{ counter }}"><a class="link-{{ _program.slug }}" href="{{ _program.url | relative_url }}">{{ _program.webpage-data.menu-title }}</a></div>
    {%- assign counter = counter | plus: 1 -%}
{%- endunless -%}
