{%- for _p in site.data.festival.programs -%}
    {%- if _p.translation -%}
        {%- unless include.include-translations -%}
            {%- continue -%}
        {%- endunless -%}
    {%- endif -%}
    {%- assign p = site.programs | where: "slug", _p.program-slug | first -%}
    {%- if p -%}
        {%- if p.to-be-announced -%}
<span class="link-{{ p.slug }} link-disabled">{{ p.webpage-data.menu-title }}</span>
        {%- else -%}
<a class="link-{{ p.slug }}" href="{{ p.url | relative_url }}">{{ p.webpage-data.menu-title }}</a>
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{%- assign p = site.programs | where: "slug", "guests" | first -%}
<a class="link-{{ p.slug }}" href="{{ p.url | relative_url }}">{{ p.webpage-data.menu-title }}</a>
