{% include utilities/social.svg %}
<footer id="footer" class="background-image-container parallax"><img id="footer-background" src="{{ site.image-directory | append: 'porto-di-maiori.jpg' | relative_url }}" /><div id="footer-backdrop"><div class="section-wrapper"><div class="content-wrapper">
<div>
    <nav>
        <h5>{%- include utilities/localize.html string="Programs" -%}</h5>
        {%- include site/festival-links.html include-translations=true -%}
    </nav>
    <nav>
        <h5>{%- include utilities/localize.html string="Info" -%}</h5>
        <a href="{{ site.baseurl }}{% link payment.html %}">Payment Form</a>
        <div>
            {%- assign _page = site.pages | where: "slug", "getting-here" | first -%}
            {%- assign _page-zh = site.pages | where: "slug", "getting-here-zh" | first -%}
            {%- if page.lang == "zh" %}<a href="{{ _page-zh.url | relative_url }}">{{ _page-zh.webpage-data.menu-title-zh }}</a>{% else %}<a href="{{ _page.url | relative_url }}">{{ _page.webpage-data.menu-title }}</a>{%- endif -%}
        </div>
        <a href="{{ site.baseurl }}{% link excursions-and-activities.md  %}">Activities</a>
        <a href="{{ site.baseurl }}{% link faq.md %}">FAQ</a>
        <a href="{{ site.baseurl }}{% link staff.md %}">Staff</a>
        <a href="{{ site.baseurl }}{% link donations.md %}">Support Us</a>
        <a href="{{ site.baseurl }}{% link terms-and-conditions.md %}">Terms & Conditions</a>
    </nav>
    <nav id="contact">
        <h5>{%- include utilities/localize.html string="Contact" -%}</h5>
        <div class="contact">Amalfi Coast Music & Arts Festival<br/>
        Center for Musical Studies<br/>
        724 Chesapeake Ave.<br/>
        Silver Spring, MD 20910<br/>
        U.S.A.</div>
        <a href="tel:+13015876189">+1 (301) 587-6189</a>
        <a href="mailto:music@amalfi-festival.org">music@amalfi-festival.org</a>
    </nav>
</div>
<div>
    {%- include site/logo-link.html href="#logo-large" -%}
    <div class="lang-selection">
        <a class="en" href="{% link index.md %}">en</a> <span>|</span> <a class="zh" href="{% link index-zh.md %}">中文</a>
    </div>
    <div id="social">
        <a href="{{ site.social.instagram }}"><svg><use xlink:href="#instagram" /></svg></a>
        <a href="{{ site.social.facebook }}"><svg><use xlink:href="#facebook" /></svg></a>
        <a href="{{ site.social.youtube }}"><svg><use xlink:href="#youtube" /></svg></a>
    </div>

    <div id="copyright">&copy; {{ "now" | date: "%Y" }} Center for Musical Studies</div>
</div>
</div></div></footer>
