{% include utilities/social.svg %}
<footer class="background-image-container"><img id="footer-background" src="{{ site.image-directory | append: 'porto-di-maiori.jpg' | relative_url }}" /><div class="section-wrapper"><div class="content-wrapper">
<div>
    {%- include site/logo.html -%}

    <div id="social">
        <a href="{{ site.social.instagram }}"><svg><use xlink:href="#instagram" /></svg></a>
        <a href="{{ site.social.twitter }}"><svg><use xlink:href="#twitter" /></svg></a>
        <a href="{{ site.social.facebook }}"><svg><use xlink:href="#facebook" /></svg></a>
        <a href="{{ site.social.youtube }}"><svg><use xlink:href="#youtube" /></svg></a>
    </div>

    <div id="copyright">&copy; {{ "now" | date: "%Y" }} Center for Musical Studies</div>
</div>
<div>
    <nav>
        <h1>Programs</h1>
        {%- include site/institute-links.html include-translations=true -%}
    </nav>
    <nav>
        <h1>Info</h1>
        <div><a href="{{ site.baseurl }}{% link getting-here.md %}">Getting Here</a> | <a href="{{ site.baseurl }}{% link getting-here-cn.md %}">中文</a></div>
        <a href="{{ site.baseurl }}{% link activities.md %}">Activities</a>
        <a href="{{ site.baseurl }}{% link faq.md %}">FAQ</a>
        <a href="{{ site.baseurl }}{% link donations.md %}">Make a donation</a>
        <a href="{{ site.baseurl }}{% link staff.md %}">Staff</a>
        <a href="{{ site.baseurl }}{% link contact.md %}">Contact</a>
    </nav>
</div>
</div></div></footer>
