{%- include site/logo.svg -%}
<header>
<div id="nav-overlay" class="standard-block">
    <nav>
        <div>
            {%- assign counter = 1 -%}
            <div id="mobile-logo" style="--counter: {{ counter }}">{%- include site/logo-link.html href="#logo-large" -%}</div>
            {%- assign counter = counter | plus: 1 -%}
            {%- include site/festival-links.html -%}

            <div class="lang-selection" style="--counter: {{ counter }}">
                <a class="en" href="{% link index.md %}">en</a> <a class="zh" href="{% link index-zh.md %}">中文</a>
            </div>
        </div>
    </nav>
</div>
<div id="header-mobile">
    <div class="section-wrapper"><div class="content-wrapper">
{%- include site/logo-link.html href="#logo-small" -%}
    </div></div>
</div>
<div id="hamburger">
    <div class="hamburger-box">
        <div class="hamburger-inner"></div>
    </div>
</div>
<div id="header-desktop">
    <div class="section-wrapper"><div class="content-wrapper">
{%- include site/logo-link.html href="#logo-small" -%}
        <nav id="nav-desktop">
            {%- include site/festival-links.html -%}
        </nav>
    </div></div>
</div></header>