{%- for program-entry in site.data.institute.programs -%}
    {%- if program-entry.translation -%}
        {%- unless include.include-translations -%}
            {%- continue -%}
        {%- endunless -%}
    {%- endif -%}
    {%- assign program = site.programs | where: "slug", program-entry.name | first -%}
    {%- if program -%}
<a href="{{ program.url | relative_url }}">{{ program.menu-title }}</a>
    {%- endif -%}
{%- endfor -%}

{%- assign program = site.programs | where: "slug", "guests" | first -%}
<a href="{{ program.url | relative_url }}">{{ program.menu-title }}</a>
