---
layout: default
body-class: program
custom-css: apply
---
{%- include site/program/initialize-program-variables.fx program=page.program-name -%}

{%- capture translations -%}
{%- include site/festival/get-program-translations.fx program-slug=reference-program.slug -%}
{%- assign _programs = __return -%}
{%- unless _programs.size == 1 -%}
{%- for translation in _programs -%}
    {%- case translation.lang -%}
        {%- when "zh" -%}
            {%- assign _abbreviation = "中文" -%}
        {%- else -%}
            {%- assign _abbreviation = "en" -%}
    {%- endcase -%}
    {%- if translation.slug == page.slug -%}
<span>{{ _abbreviation }}</span>
        {%- continue -%}
    {%- endif -%}
{%- assign program-translated = site.apply | where: "slug", translation.slug | first -%}
<a href="{{ program-translated.url | relative_url }}">{{ _abbreviation }}</a>
{%- endfor -%}
{%- endunless -%}
{%- endcapture -%}

<h1>{{ program.title | smartify }} <div><span>{{ translations }}</span></div></h1>

<section class="standard-block" markdown="1">

{{ content }}

</section>