---
layout: default
body-class: program
custom-css:
    - apply
---
{%- include site/initialize-program-variables.md program=page.program-name -%}

{% capture translations %}
{%- if reference-program.localizations -%}
    {%- for translation in reference-program.localizations -%}
        {%- if translation.program == page.slug -%}
<span>{{ translation.abbreviation }}</span>
            {% continue -%}
        {%- endif -%}
        {%- assign program-translated = site.apply | where: "slug", translation.program | first -%}
<a href="{{ program-translated.url | relative_url }}">{{ translation.abbreviation }}</a>
    {% endfor -%}
{%- endif -%}
{% endcapture %}

<h1>{{ program.program-name | smartify }} <div><span>{{ translations }}</span></div></h1>

<section class="standard-block" markdown="1">

{{ content }}

</section>