---
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ page.lang }}" lang="{% if page.lang == "zh" %}zh-cn{% else %}en-us{% endif %}">
{%- include site/head.html -%}
{%- capture body-class -%}
    {%- if layout.body-class or page.body-class -%}
        {{ layout.body-class }} {{ page.body-class }}
    {%- endif -%}
    {%- if page.collection == "programs" or page.collection == "apply" -%}
        {{ page.slug }}
    {%- endif -%}
{%- endcapture -%}
<body class="{{ body-class }}">
{%- include site/header.html -%}
<main>
{{ content }}
</main>
{%- include site/footer.html -%}

<script>
(() => {
var h = document.getElementById("hero");
var scale = 1.1;
var scaleRemainder = scale - 1;
if (h) {
    var vh = window.innerHeight;
    var eh = h.clientHeight;
    document.querySelector("#hero img").style.transform = `translateY(${(vh/(vh+eh)*scaleRemainder*eh - scaleRemainder*.5*eh).toFixed(1)}px) scale(${scale})`;
}
var image = document.querySelectorAll('.background-image-container.parallax > img:first-child');
new simpleParallax(image, { orientation: 'down', scale: scale, customWrapper: '.background-image-container' });
})();
</script>
</body>
</html>
