---
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{%- include site/head.html -%}
{%- capture body-class -%}
    {%- if layout.body-class or page.body-class -%}
        {{ layout.body-class }} {{ page.body-class }}
    {%- endif -%}
    {%- if page.collection == "programs" or page.collection == "apply" -%}
        {{ page.slug }}
    {%- endif -%}
{%- endcapture -%}
<body class="{{ body-class }}">
{%- include site/header.html -%}
<main>
{{ content }}
</main>
{%- include site/footer.html -%}

<script>
  // Accepts any class name
var image = document.querySelectorAll('.background-image-container.parallax > img:first-child');
new simpleParallax(image, { orientation: 'down' });
</script>
</body>
</html>
