---
layout: default
custom-css: faculty
---

<div id="headshot">
    <img src="{{ site.faculty-image-directory | append: page.headshot-filename | relative_url }}" />
</div>

<h1>{{ page.first-name }} {{ page.last-name }}{% if page.cn-name %} ({{ page.cn-name }}){% endif %}</h1>
<h2>{{ page.school }}</h2>

{%- assign availability = site.empty-array -%}
{%- for program in site.programs -%}
    {%- for session in program.sessions -%}
        {%- if session.faculty contains page.slug -%}
            {%- assign apply-url = site.apply | where: "slug", program.slug | first -%}
            {%- assign apply-url = apply-url.url | relative_url -%}
            {%- if session.session-name -%}
                {%- capture session-id -%}{% include site/session-name.html session=session %}{%- endcapture -%}
                {%- assign session-id = session-id | slugify -%}
                {%- assign apply-url = apply-url | append: "#" | append: session-id -%}
            {%- endif -%}
            {%- capture session-available %}<a href="{{ apply-url }}">{{ program.program-name | smartify }}{% if session.session-name %}, {{ session.session-name }}{% endif %} ({% include utilities/date-range.html dates=session.dates %})</a>{% endcapture -%}
            {%- assign availability = availability | push: session-available -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}

<ul class="availability">
    {%- for available in availability -%}
    <li>{{ available }}</li>
    {%- endfor -%}
</ul>

{{ content }}
