---
layout: default
custom-css: people
og-type: profile
---

<div id="headshot">
    <img src="{%- include site/person/person-headshot-filepath.html -%}" />
</div>
<h1>{{ page.first-name }} {{ page.last-name }}{% if page.zh-name %} <span class="zh-name">({{ page.zh-name }})</span>{% endif %}</h1>
{% if page.role or page.school %}<h2>{{ page.role | default: page.school | join: "</h2><h2>" }}</h2>{% endif %}
{% if page.website %}<h3><a href="{{ page.website }}">Personal website</a></h3>{% endif %}

{%- assign availability = site.empty-array -%}
{%- for _p in site.data.festival.programs -%}
    {%- assign program = site.programs | where: "slug", _p.program-slug | first -%}
    {%- if program.to-be-announced -%}
        {%- continue -%}
    {%- endif -%}
    {%- for session in program.sessions -%}
        {%- if session.faculty contains page.slug -%}
            {%- assign apply-url = site.apply | where: "slug", program.slug | first -%}
            {%- assign apply-url = apply-url.url | relative_url -%}
            {%- if session.session-name -%}
                {%- capture session-id -%}{% include site/session/get-session-name-with-dates.html session=session %}{%- endcapture -%}
                {%- assign session-id = session-id | slugify -%}
                {%- assign apply-url = apply-url | append: "#" | append: session-id -%}
            {%- endif -%}
            {%- capture session-available %}<a href="{{ apply-url }}">{{ program.title | smartify }}{% if session.session-name %}, {{ session.session-name }}{% endif %} ({% include utilities/date.html dates=session.dates %})</a>{% endcapture -%}
            {%- assign availability = availability | push: session-available -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}

<section class="standard-block" markdown="1">
<ul class="availability {% if availability.size == 1 -%}
single{%- endif -%}">
    {%- for available in availability -%}
    <li>{{ available }}</li>
    {%- endfor -%}
</ul>

{{ content }}
</section>

{%- if page.portfolio -%}
{%- assign image-directory = site.people-image-directory | append: '/' | append: page.slug | append: '/' -%}
<h2>Portfolio</h2>
<section id="portfolio" class="standard-block">
    {%- for image-path in page.portfolio -%}
        {%- if image-path.filename -%}
            {%- capture _img -%}{{ image-directory | append: image-path.filename | relative_url }}{%- endcapture -%}
            {%- capture _thumb -%}{{ image-directory | append: image-path.thumb-filename | relative_url }}{%- endcapture -%}
            <div><img src="{{ _thumb }}" data-jslghtbx="{{ _img }}" data-jslghtbx-group="a" /></div>
        {%- else -%}
            {%- capture _img -%}{{ image-directory | append: image-path | relative_url }}{%- endcapture -%}
            <div><img src="{{ _img }}" data-jslghtbx="{{ _img }}" data-jslghtbx-group="a" /></div>
        {%- endif -%}
    {%- endfor -%}
</section>
{%- endif -%}