---
layout: default
body-class: program
custom-css: program
---
{%- include site/program/initialize-program-variables.fx -%}

{% capture translations %}
{%- if reference-program.webpage-data.localizations -%}
    {%- for translation in reference-program.webpage-data.localizations -%}
        {%- if translation.program == page.slug -%}
<span>{{ translation.abbreviation }}</span>
            {%- continue -%}
        {%- endif -%}
        {% assign program = site.programs | where: "slug", translation.program | first %}
<a href="{{ program.url | relative_url }}">{{ translation.abbreviation }}</a>
    {%- endfor -%}
{%- endif -%}
{% endcapture %}

{%- if reference-program.webpage-data.hero-image -%}
<div id="hero" class="background-image-container parallax">
    <img src="{{ site.program-assets-directory | append: reference-program.slug | append: '/' | append: reference-program.webpage-data.hero-image | relative_url }}" />
    <div class="text"><h1 class="standard-block">{{ page.title | smartify }} <div><span>{{ translations }}</span></div></h1></div>
</div>
{%- else -%}
<h1>{{ page.title | smartify }} <div><span>{{ translations }}</span></div></h1>
{%- endif -%}

<div id="header" class="standard-block sidebar">
    <div><h3><span class="label">{% include utilities/localize.html string="Application deadline" %}</span><br/>{% include site/program/application-deadline.html %}</h3>
    <a class="apply button" href="{{ apply-url }}">{% include utilities/localize.html string="Apply" %}</a>
    </div>
    <div><h2>
{%- for session in reference-program.sessions -%}
{%- if forloop.index > 1 -%}<br/>{%- endif -%}
{%- include site/session/get-session-name-with-dates.html session=session lang=page.lang -%}
{%- endfor -%}
    </h2>
{%- if page.webpage-data.program-header-subtitle -%}
    {{- page.webpage-data.program-header-subtitle -}}
{%- endif -%}
    </div>
</div>

{{ content }}
